APP_NAME="Escuela Aviación RAC141"
APP_URL=https://schoolaviationtraining.com
APP_TIMEZONE=America/Bogota
APP_LOCALE=es

# PRODUCCIÓN: Cambiar a production y false
APP_ENV=production
APP_KEY=
APP_DEBUG=false

# Base de datos — rellenar con credenciales del cPanel
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=schoolav_learningaviator
DB_USERNAME=schoolav_admin
DB_PASSWORD=Multi2050.*+

# Sanctum — dominio del frontend en producción
SANCTUM_STATEFUL_DOMAINS=schoolaviationtraining.com,www.schoolaviationtraining.com

# Mail (Configuración cPanel)
MAIL_MAILER=smtp
MAIL_HOST=mail.schoolaviationtraining.com
MAIL_PORT=465
MAIL_USERNAME=_mainaccount@schoolaviationtraining.com
MAIL_PASSWORD=Multisalud*2050.
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=_mainaccount@schoolaviationtraining.com
MAIL_FROM_NAME="${APP_NAME}"
